<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/html">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Packerzzz</title>


</head>

<body style="background-color: #B3E5FC;">

  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}


    <h3 class='alert alert-success' style="text-align:center;">Any Queries Contact!!!</h3>

    <form method="POST">
      <!-- Very Important csrf Token -->
      {% csrf_token %}
      <div class="form-group">
        <p>
        <h3>{{ form.as_p }}</h3>
        </p>
        <br>
        <center><input type="submit" value="Send Message" class='btn btn-primary btn-lg'></center>
      </div>
    </form></center>
  <br><br><br><br><br><br><br>
  {% include "ecom/footer.html" %}
</body>
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

</html>
